.label-tituloWhite{
	-fx-font-family: "Segoe UI";
	-fx-font-weight:bold;
	-fx-font-size: 27px;
	-fx-text-fill: white;	
}

.label-titulo{
	-fx-font-family: "Segoe UI";
	-fx-font-weight:bold;
	-fx-font-size: 27px;
	-fx-text-fill: #1f7a7a;	
}

.background{
	-fx-background-color: #1f7a7a;
}


.background-grey{
	-fx-background-color: #D3D3D3;
}

.menuBar{
	-fx-background-color: #1f7a7a;
	-fx-font-family: "Segoe UI";
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

.nome{
	-fx-font-size: 20px;
	-fx-text-fill: white;
}

.textFields{
	-fx-background-color: #ffffff;
	-fx-font-family: "Segoe UI";	
	-fx-background-radius: 20;
}

.textArea{
	-fx-background-color: #c0c0c0;
	-fx-font-family: "Segoe UI";	
	-fx-background-radius: 20;
}

.choiceBox{
	-fx-background-color: #ffffff;
	-fx-font-family: "Segoe UI";	
	-fx-background-radius: 20;
}


.botaoOK{
	-fx-background-color: white;
	-fx-font-size: 16px;
	-fx-text-fill: #1f7a7a;
	-fx-background-radius: 10;
}

.mensagemRedBold{
	-fx-font-family: "Segoe UI";
	-fx-font-weight:bold;
	-fx-font-size: 16px;
	-fx-text-fill: #b90000;
}

.mensagemRed{
	-fx-font-family: "Segoe UI";
	-fx-font-weight:bold;
	-fx-font-size: 15px;
	-fx-text-fill: #b90000;
}

.table-view {
    -fx-control-inner-background: white;
    -fx-background-color: transparent;
    -fx-table-header-border-color: transparent;   
}

.table-view .column-header-background{
	-fx-background-color: #155555;
	-fx-background-radius: 8px 8px 0px 0px;
	
}

.table-view .column-header, .table-view .filler{
	-fx-background-color: transparent;
	-fx-size: 40;
	-fx-padding: 10;
	
}

.table-view .corner {
	-fx-background-color: transparent;
}

.table-view .column-header .label{
	-fx-font-weight: bold; 
	-fx-alignment: center-left;
	-fx-text-fill: white;
	-fx-font-size: 15px;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #78AFAF;
}

.table-row-cell:empty {
	-fx-background-color: transparent;
}

.table-row-cell:filled:hover {
	-fx-background-color: #BBD7D7;
}


.button-cadastro{
	-fx-background-color: #3D7A5B;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-background-radius: 8;
}


.button-edit{
	-fx-background-color: #4974a5;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-background-radius: 8;
	
}

.button-excluir{
	-fx-background-color: #dc3e3f;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-background-radius: 8;
}

.button-icon{
	-fx-background-color: transparent;
	-fx-background-radius: 50;
}

.label-display{
	-fx-font-family: "Segoe UI";
	-fx-background-color: #808080;
	-fx-font-size: 16px;
	-fx-text-fill: white;	
}

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */