.label-titulo{
	-fx-font: "Segoe UI";
	-fx-font-weight:bold;
	-fx-font-size: 27px;
	-fx-text-fill: white;	
}

.background{
	-fx-background-color: #1f7a7a;
}

.background-grey{
	-fx-background-color: #D3D3D3;
}

.menuBar{
	-fx-background-color: #1f7a7a;
}

.nome{
	-fx-font-size: 20px;
	-fx-text-fill: white;
}

.textFields{
	-fx-background-color: #ffffff;
	-fx-font-family: "Roboto Condensed";	
	-fx-background-radius: 20;
}

.botaoLogin{
	-fx-background-color: white;
	-fx-font-size: 16px;
	-fx-text-fill: #1f7a7a;
	-fx-background-radius: 10;
}

.mensagemRed{
	-fx-font: "Segoe UI";
	-fx-font-weight:bold;
	-fx-font-size: 14px;
	-fx-text-fill: red;
}
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */